html, body{
    margin: 0;
    height: 100%;
    background: #000;
    color: #fff;
    font-family: MNM-R;
}

.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

.index{
    height: 100%;
}

.index .box-index{
    height: 100%;
    width: 100%;
    background-image: url(../img/back-index.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index .box-index img{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.header{
    height: 100%;
    width: 100%;
    background-image: url(../img/header-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header p{
    font-family: MNM-R;
    font-size: 0.8em;
    color: #fff;
    width: 30%;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.list-logo{
    background: #000;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    padding: 20px 0px;
}

.list-logo img{
    z-index: 999;
    background: #000;
}

.list-logo .marquee {
    white-space: nowrap;
    overflow: hidden;
}

.list-logo .marquee span {
    display: inline-block;
    padding-right: 50px;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.content-1{
    background-image: url(../img/back-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 150px;
}
.content-1 h1{
    font-family: MNM-B;
}
.content-1 .caption-content-1{
    position: absolute;
    bottom: 130px;
    text-align: justify;
}
.content-1 a{
    text-decoration: none;
    color: #fff;
}
.content-1 .kecil{
    font-size: 0.8vw;
    font-family: MNM-R;
}

.content-1 .content-1-1{
    margin-bottom: 80px;
    margin-top: 40px;
}
.content-1 .content-1-1 img{
    width: 60%;
    position: relative;
    left: 40%;
}

.content-1 .content-1-2{
    margin-bottom: 80px;
}
.content-1 .content-1-2 img{
    width: 100%;
}
.content-1 .content-1-2 p{
    font-family: MNM-B;
    font-size: 1.2vw;
}

.content-1 .content-1-3{
    font-family: MNM-R;
    font-size: 1.2vw;
}

.content-1 .content-1-4{
    font-family: MNM-R;
    font-size: 1.2vw;
}

.content-1 .content-1-5{
    margin-bottom: 80px;
}
.content-1 .content-1-5 img{
    width: 100%;
}
.content-1 .content-1-5 p{
    font-family: MNM-B;
    font-size: 1.2vw;
}

.swiper {
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
}

.swiper .swiper-container {
    width: 100%;
}

.swiper .swiper-container .text-slider{
    position: absolute;
    text-align: left;
    left: 50px;
    top: 50px;
}
.swiper .swiper-container h3{
    font-family: MNM-BI;
}
.swiper .swiper-container p{
    margin-left: 35px;
}

.swiper .swiper-container img{
    width: 100%;
}

.swiper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #000;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

.swiper .swiper-pagination-bullet{
    background: #fff;
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active{
    background: #0043E7;
    opacity: 1;
}

.content-3{
    background: #000;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 50px;
}

.content-3 h1{
    font-family: MN-EBI;
}

.content-3 h1 span{
    font-family: MNM-R;
    font-size: 1.2vw;
}

.content-3 p{
    font-family: MNM-R;
    font-size: 0.8em;
    text-align: justify;
}

.content-3 ul{
    padding-left: 0px;
}
.content-3 ul li{
    display: block;
}
.content-3 ul li a{
    text-decoration: none;
    color: #fff;
}
.content-3 ul li a h2{
    font-family: MNM-B;
}
.content-3 ul li a h2 span{
    font-family: MNM-R;
    font-size: 1.2vw;
}




























